# =========================================
# PYTHON
# =========================================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# FASTAPI / SQLITE
# =========================================

*.db
*.sqlite3

# =========================================
# NEXTJS
# =========================================

.next/
node_modules/
out/

# =========================================
# ENV
# =========================================

.env
.env.local

# =========================================
# OS
# =========================================

.DS_Store
Thumbs.db

# =========================================
# VSCODE
# =========================================

.vscode/

# =========================================
# LOGS
# =========================================

*.log

!data/mdp.db